[submodule "fixtures/geotiff-test-data"]
	path = fixtures/geotiff-test-data
	url = https://github.com/developmentseed/geotiff-test-data
[submodule "packages/morecantile/spec"]
	path = packages/morecantile/spec
	url = https://github.com/opengeospatial/2D-Tile-Matrix-Set
[submodule "packages/geozarr/multiscales"]
	path = packages/geozarr/multiscales
	url = https://github.com/zarr-conventions/multiscales
[submodule "packages/geozarr/spatial"]
	path = packages/geozarr/spatial
	url = https://github.com/zarr-conventions/spatial
[submodule "packages/geozarr/geo-proj"]
	path = packages/geozarr/geo-proj
	url = https://github.com/zarr-conventions/geo-proj
